.footer {
	display: grid;
	grid: repeat(3, auto) / repeat(4, 1fr);
	padding: 32px 36px;
	background-color: antiquewhite;
}

.logo {
	grid-column: 1 / -1;
}

.list {
	display: grid;
	grid-column: 2 / -1;
	grid: 1fr / repeat(3, 1fr);
}

.item {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
