/* Основной контейнер галереи */

.galleryContainer {
	display: flex;
	align-items: flex-start;
	gap: 24px;

	/* padding: 20px; */
}

/* Контейнер основного изображения */

.screen {
	position: relative;
	width: 324px;
	height: 324px;
	overflow: hidden;
	border-radius: 12px;
}

/* Контейнер превью изображений */

.preview {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 150px;
}

/* Контейнер для превью изображения */

.previewImage {
	position: relative;
	width: 92px;
	height: 92px;
	overflow: hidden;
	border-radius: 12px;
	cursor: pointer;
}

/* Контейнер для масштабирования изображения */

.previewImageContent {
	width: 100%;
	height: 100%;
	transition: transform 0.2s;
}

.previewImageContent:hover {
	transform: scale(1.2);
}

/* Стили для изображения внутри превью */

.previewImageInner {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Стили для активного изображения */

.activeImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Контейнер управления */

.controls {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	padding: 0 16px;
	transform: translateY(-50%);
}

/* Стили для кнопок навигации */

.prevButton,
.nextButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	color: #69735d;
	font-size: 20px;
	background: #e4e8df;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.3s;
}

.prevButton:hover,
.nextButton:hover {
	background: #abd27a;
}

/* Стили для счетчика скрытых изображений */

.hiddenCount {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: #253017;
	font-size: 18px;
	background: rgb(255 255 255 / 50%);
	pointer-events: none;
}

.previewImage:hover .previewImageContent {
	transform: scale(1.2);
}

/* Стили для сообщения "нет изображений" */

.noImageMessage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: #666666;
	font-size: 18px;
	background: #e9f7e7;
}

.noImageMessage p {
	margin: 0;
}
