.container {
  max-width: 436px;
  margin: 0 auto;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.avatarSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  width: 100%;
}

.dateGenderContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.city,
.category,
.subcategory {
  width: 100%;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}

.button {
    width: 100%;
}

/* Стили для выпадающих списков */
.form > * {
  position: relative;
  z-index: 1;
}

.form > *:focus-within {
  z-index: 1000;
}

.compactSelect {
    padding-top: 4px;
    padding-bottom: 4px;
}
