.checkSkillView {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	width: 100%;
	background-color: var(--card-bg-color);
}

.title {
	color: var(--main-text-color);
	text-align: center;
}

.titleText {
	margin: 0;
	padding: 0;
	font-weight: var(--h4-weight);
	font-size: var(--h2-size);
	font-family: var(--h2-font);
}

.description {
	font-weight: var(--body-weight);
	font-size: var(--body-size);
	font-family: var(--body-font);
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 44px;
}

.skillInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 420px;
	height: 320px;
}

.gallery {
	width: 440px;
}

.buttons {
	display: flex;
	gap: 12px;
	width: 100%;
}

.buttons button {
	flex: 1;
	min-width: 0;
}
