.container {
	width: 399px;
	height: 248px;
}

.title {
	margin: 0 0 4px;
	color: var(--main-text-color);
	font-weight: var(--h4-weight);
	font-size: var(--h1-size);
	font-family: var(--h1-font);
	line-height: 1.25;
}

.category {
	margin-bottom: 20px;
	color: var(--caption-text-color);
	font-weight: var(--caption-weight);
	font-size: var(--caption-size);
	font-family: var(--caption-font);
	line-height: 1.3;
}

.text {
	display: -webkit-box;
	overflow: hidden;
	color: var(--main-text-color);
	font-weight: var(--body-weight);
	font-size: var(--body-size);
	font-family: var(--body-font);
	line-height: 1.5;
	text-overflow: ellipsis;
	-webkit-line-clamp: 7;
	line-clamp: 7;
	-webkit-box-orient: vertical;
}
