.menu {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 16px 20px 36px;
}

.menu_part_left {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 24px;
  padding: 0 16px;
  text-wrap: nowrap;
}
